/* FONTS */
/* space grotesk font*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* RobotoSlab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

/* variables */
/* :root {

    /* colors 
    --Greenish: #606c38;
    --blackish: #283618;
    --beige: #fefae0;
    --lightBrown: #dda15e;
    --brown: #bc6c25;
} */

header {
  background: transparent;
  z-index: 999;
  position: fixed;
  width: 100%;
}

.main__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* height: 3.125rem; */
  height: 6rem;
}

.main__navbar img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  scale: 1;
}

.main__navbar a {
  height: 50%;
  display: flex;
  align-items: center;
  color: #0b50ab;
  text-decoration: none;
  margin: 0 25px;
  font-size: 1.4rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.main__navbar .website_logo {
  height: 100%;
  display: flex;
  align-items: center;
  color: #0b50ab;
  text-decoration: none;
  padding: 0 25px 0 0;
  font-size: 1.5rem;
  font-family: "Railway";
  font-weight: 600;
}

.main__navbar .menu {
  height: 60%;
  display: none;
  /* justify-content: end; */
  align-items: center;
  /* color: black; */
  /* text-decoration: none; */
  padding: 0.5625rem 1.25rem;
  /* font-size: 1.25rem; */
  /* position: absolute;
  right: 20px; */
}

.main__navbar .header__navigation:hover,
.main__navbar div:hover {
  border-bottom: 2px solid #0b50ab;
}

.main__navbar .website_logo {
  margin-inline-end: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15.625rem;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 2rem 5px rgba(0, 0, 0, 0.603);
}
.sidebar div {
  padding: 0.625rem;
  width: fit-content;
}
.sidebar a {
  padding: 0.625rem;
  width: 100%;
  text-decoration: none;
  color: black;
}
.sidebar div:hover,
.sidebar a:hover {
  background-color: #f0f0f0;
}
@media (max-width: 850px) {
  .main__navbar a {
    display: none;
  }
  .main__navbar a:first-child {
    display: flex;
  }
  .main__navbar .menu {
    display: flex;
  }
}

main {
  padding-top: 11rem;
  /* background-color: #cadcee; */
  background-image: url("/assets/images/OVC_homePageBackground.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}

.hero {
  /* padding-top: 3vw; */
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  /* backdrop-filter: blur(0.5px); */
}

.left_hero_section {
    width: 100%;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 9vw;
  font-family: 'Roboto Slaab', serif;
  color: #0b50ab;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}

.hero p {
    margin-left: auto;
    margin-right: auto;
  width: 70%;
  font-size: 0.8rem;
  text-align: center;
}

.hero button {
  border: 2px solid black;
  background-color: white;
  color: #0b50ab;
  padding: 2px 5px;
  border-radius: 5px;
}


@media(min-width:450px){

}

@media(min-width:1024){

}